<% title 'Service List' -%>
<h2>
   <div>
      Welcome to
   <%= current_provider.username %> Service Bid List
   </div>
</h2>
<% if !@myrequest3.empty? %>   
<h1>
</h1>
<table id = "providerlist" class="providerlist">
  <thead>
    <tr>
      <th>Appliance </th>
      <th>Brand </th>
      <th>Warranty </th>
      <th>Problem Description</th>
      <th>Service Centre Location</th>
      <th>Service By Date</th>
      <th>Bid End By Date</th>
      <th>Bid Amount</th>
      <th>Status</th>
      <th>Bid Awarded To</th>
    </tr>
  </thead>

  <tbody>
    <% @myrequest3.each do |servicerequest| %>
      <tr>
        <td><%= servicerequest.appliance %></td>
        <td><%= servicerequest.brand %></td>
        <td><%= servicerequest.warranty %></td>
        <td><%= servicerequest.problem_desc %></td>
        <td><%= servicerequest.service_ctr_location %></td>
        <td><%= servicerequest.service_by %></td>
        <td><%= servicerequest.bidend %></td>
        <td>
          <ol>
            <% for b in servicerequest.bids %>
               <li><%= b.bidamt %><%= '<bidder: ' %>
                  <%= "#{b.provider_id == current_provider.id ? 'myself' : b.provider_id}" %><%= '>' %> 
               </li>
            <% end %>
           </ol>
       </td>
        <td><%= servicerequest.status %></td>
        <td><%= "#{servicerequest.provider_id == current_provider.id ? 'me' : servicerequest.provider_id}" %></td>
       </tr>
   <% if current_provider.id == servicerequest.provider_id %>
       <tr><td></td><td></td>
               <% @usercontact = User.find_by_id( servicerequest.user_id) %>
                   <td>Customer Name: <%= @usercontact.username %></td>
                  <td> Customer Email: <%= @usercontact.email %></td>
                  <td> Customer Phone: <%= @usercontact.phone %></td>
      </tr>
   <% end %>
  <% end %>
  </tbody>
</table>
<% else %>
    No Services Render.
<% end %>
