<%= form_for @servicerequest do |f| %>
  <% if @servicerequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicerequest.errors.count, "error") %> prohibited this Service Request from being saved:</h2>

      <ul>
      <% @servicerequest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
     <% if user_signed_in? %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
     <% else %>   
        <%= f.hidden_field :user_id %>
     <% end %>
</div> 
  <div class="field">
    <%= f.label :Appliance %>
    <% if f.object.status != 'Accepted' %>
       <%= f.text_field :appliance, :readonly => provider_signed_in? %>
    <% else %>
        <%= f.text_field :appliance, :readonly => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :Brand %>
    <% if f.object.status != 'Accepted' %>
        <%= f.text_field :brand, :readonly => provider_signed_in? %>
    <% else %>
        <%= f.text_field :brand, :readonly => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :Warranty %>
    <% if f.object.status != 'Accepted' %>
       <%= f.text_field :warranty, :readonly => provider_signed_in? %>
    <% else %>
       <%= f.text_field :warranty, :readonly => true %>
    <% end %> 
 </div>
  <div class="field">
    <%= f.label :ProblemDescription %>
    <% if f.object.status != 'Accepted' %>
       <%= f.text_field :problem_desc, :readonly => provider_signed_in? %>
    <% else %>
       <%= f.text_field :problem_desc, :readonly => true %>
    <% end %> 
 </div>
  <div class="field">
    <%= f.label :Service_Center_Location %>
    <% if f.object.status != 'Accepted' %>
     <%= f.text_field :service_ctr_location, :readonly => provider_signed_in? %>
    <% else %>
     <%= f.text_field :service_ctr_location, :readonly => true %>
    <% end %>
</div>
  <div class="field" id="datetimepicker1">
    <%= f.label :ServiceByDate %>
    <% if f.object.status != 'Accepted' %>
        <%= f.text_field :service_by, :readonly => provider_signed_in? %>
    <% else %>
        <%= f.text_field :service_by, :readonly => true %>
    <% end %>
    
   </div>
  <div class="field">
    <%= f.label :Bid_EndDte %>
    <% if f.object.status != 'Accepted' %>
      <%= f.text_field :bidend, :readonly => provider_signed_in? %>
    <% else %> 
      <%= f.text_field :bidend, :readonly => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <% if f.object.new_record? %>
    <%= f.text_field :status, :value => 'Open'  %>
    <% else %>
        <% if f.object.status != 'Accepted' %>
           <%= f.text_field :status, :readonly => provider_signed_in? %>
        <% else %>
           <%= f.text_field :status, :readonly => true %>
        <% end %>
    <% end %>
  </div>
<% if !f.object.new_record? %>
  <%= f.fields_for :bids do |bidinfo| %>
      <%= render 'bid_fields', :f => bidinfo %><br />
  <% end %>  
<% end %>
<% if provider_signed_in? && f.object.status !='Accepted' %>
       <p>      <%= link_to_add_fields "Add Bid", f, :bids %>
      </p>
<% end %>

<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
