<%= javascript_include_tag "jquery_ujs" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Appliance:</strong>
  <%=h @servicerequest.appliance %>
</p>

<p>
  <strong>Brand:</strong>
  <%=h @servicerequest.brand %>
</p>

<p>
  <strong>Warranty:</strong>
  <%=h @servicerequest.warranty %>
</p>

<p>
  <strong>Problem Description:</strong>
  <%=h @servicerequest.problem_desc %>
</p>

<p>
  <strong>Service Center Location:</strong>
  <%=h @servicerequest.service_ctr_location %>
</p>
<p>
  <strong>Service By Date:</strong>
  <%=h @servicerequest.service_by %>
</p>
<p>
  <strong>Bid End Date:</strong>
  <%=h @servicerequest.bidend %>
</p>
<p>
  <strong>Status:</strong>
  <%=h @servicerequest.status %>
</p>
   <p>
       <strong>Winning Service ProviderId:</strong>
       <%=h @servicerequest.provider_id %>
       <% if @servicerequest.status == 'Accepted' %>
               <% @contact = Provider.find_by_id( @servicerequest.provider_id) %>
                   <strong>Provider Name:</strong>
                        <%= @contact.username %>
                  <strong> Provider Email: </strong>
                        <%= @contact.email %>
                  <strong> Provider Phone: </strong>
                        <%= @contact.phone %>

       <% end %>
    <p>
        <strong>Feedback Comments:</strong>
        <%=h @servicerequest.feedback %>
    </p>
<% if @servicerequest.status != 'Accepted' %>
<ol>
    <p>
      <strong>Bids Received:</strong></p> 
    <% for bid in @servicerequest.bids %>
       <li><b>Provider:</b> <%=h bid.provider_id %>
           <b>Bid Amount:</b><%=h bid.bidamt %>
           <b>Provider Comment:</b><%=h bid.comment %>
          <% if user_signed_in? %>
              <%= link_to "Select this provider", servicerequest_path(:servicerequest => {:provider_id => bid.provider_id, :status => 'Accepted'}), :method => :patch, :confirm => "Are you sure you want this provider?" %>
          <% end %>
       </li>
     <% end %>
</ol>
<% end %>
<p>
     
     <% if user_signed_in? %>
         <%= link_to 'Edit', edit_servicerequest_path(@servicerequest) %> |
         <%= link_to 'Destroy', @servicerequest, :confirm => 'Are you sure?', :method => :delete %> |
     <% end %>
     <%= link_to 'Back-ViewAll', servicerequests_path %>
</p>
