<%= form_for (@bid)  do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bidamt %><br>
    <%= f.text_field :bidamt %>
  </div>
  <div class="field">
    <%= f.hidden_field :servicerequest_id, :value => params[:id] %>
  </div>
   alert(params[:id])
  <div class="field">
    <%= f.hidden_field :provider_id, :value => current_provider.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
